/* عام */
body{
    margin:0;
    font-family: Arial, sans-serif;
    background:#f5f5f5;
}

/* الهيدر */
header{
    background:rgba(44, 70, 170, 0.767);
    color:white;
    padding:50px;
    text-align:center;
}

/* الكونتينر العام */
.container{
    width:70%;
    margin:0 auto;
    padding:20px 0;
}

/* المنتجات */
.products{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:100px;
}

.card{
    background:white;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    overflow:hidden;
    transition:0.3s;
}

.card:hover{
    transform:scale(1.05);
}

.card img{
    width:100%;
    height:500px;
    object-fit:cover;
}

.card-content{
    padding:15px;
    text-align:center;
}

.price{
    font-size:18px;
    font-weight:bold;
    margin:10px 0;
}

/* الفورم */
.order-section{
    width:100%;
    max-width:500px;
    margin:50px auto;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    text-align:center;
}

.order-section h2{
    margin-bottom:20px;
}

.order-form input,
.order-form textarea,
.order-form select{
    width:100%;
    padding:10px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:5px;
}

.order-form button{
    width:100%;
    padding:12px;
    background:black;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

.order-form button:hover{
    background:#333;
}

/* الفوتر */
footer{
    background:black;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:30px;
}
